# CONFIGURACION MASTER (Servidor Central)
# Lista de Workers disponibles en la red.
Worker.Proxy.W1=WorkerService:tcp -h localhost -p 10000
Worker.Proxy.W2=WorkerService:tcp -h localhost -p 10001

# PARAMETROS GLOBALES
Ice.MessageSizeMax=20480
Ice.Default.PreferIPv4=1
